db_user=database_user
db_host=database_host
database=database_name
db_password=database_password
db_port=database_port
frontend_url=frontend_url

port=server_port

SECRET_KEY=jwt_secret_key

GEMINI_API_KEY=api_key